[submodule "thirdparty/libjpeg-turbo"]
	path = thirdparty/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "thirdparty/nlohmann-json"]
	path = thirdparty/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/libsndfile"]
	path = thirdparty/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "thirdparty/libvtc"]
	path = thirdparty/libvtc
	url = https://github.com/jthwho/libvtc.git
[submodule "thirdparty/doxygen-awesome-css"]
	path = thirdparty/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "thirdparty/highway"]
	path = thirdparty/highway
	url = https://github.com/google/highway.git
[submodule "thirdparty/libspng"]
	path = thirdparty/libspng
	url = https://github.com/randy408/libspng.git
[submodule "thirdparty/zlib-ng"]
	path = thirdparty/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "thirdparty/cirf"]
	path = thirdparty/cirf
	url = https://github.com/jthwho/cirf.git
[submodule "thirdparty/svt-jpeg-xs"]
	path = thirdparty/svt-jpeg-xs
	url = https://github.com/OpenVisualCloud/SVT-JPEG-XS.git
